<?xml version="1.0" ?>

<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find laser_2d_to_3d)/maps/2d/hector/map1.yaml"/>  

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <node  pkg="rviz"  type="rviz"  name="rviz" args="-d $(find laser_2d_to_3d)/configs/2d_map_view.rviz" required="true" /> 
    
</launch>